# Variáveis de DB
## Porta do banco de dados
DB_PORT=DEFINE_YOUR_PORT

## Host do banco de dados
DB_HOST=DEFINE_YOUR_HOST

## Nome de usuário root do MongoDB
MONGO_INITDB_ROOT_USERNAME=DEFINE_YOUR_USERNAME

## Senha do usuário root do MongoDB
MONGO_INITDB_ROOT_PASSWORD=DEFINE_YOUR_PASSWORD

## Nome do banco de dados MongoDB
MONGO_INITDB_DATABASE=DEFINE_YOUR_DATABASE_NAME

# Variáveis da API
## Porta da API
API_PORT=DEFINE_YOUR_PORT_FOR_API